<header>
  <h1>Ridwan<b>Sharif</b></h1>
  <p>Computer Science Student, '21 <a href="https://uwaterloo.ca">@uwaterloo</a></p>
  <ul>
    <li><a title="E-mail" href="mailto:{{ site.author.email }}"><i class="fa fa-envelope fa-2x"></i></a></li>
    <li><a title="Twitter" href="https://twitter.com/ridwanmsharif"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a title="Github" class="github" href="http://github.com/ridwanmsharif"><i class="fa fa-github fa-2x"></i></a> </li>
    <li><a title="LinkedIn" href="https://www.linkedin.com/in/ridwanmsharif"><i class="fa fa-linkedin fa-2x"></i></a> </li>
    <li><a title="Resume" href="ridwan-sharif-resume.pdf"><i class="fa fa-file-pdf-o fa-2x"></i></a> </li>
  </ul>
</header>
