<hr>

<div class="be-social">
  <a class="twitter-share-button"
    href="https://twitter.com/share"
    data-via="{{ site.handle }}"
    data-size="large"
    data-count="horizontal">
    Tweet
  </a>

  <a href="https://twitter.com/{{ site.handle }}"
    class="twitter-follow-button"
    data-show-count="false"
    data-size="large">
    Follow @{{ site.handle }}
  </a>
</div>

<script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
